APP_DISPLAY_NAME = FreeAPS X
APP_VERSION = 0.2.8a
APP_BUILD_NUMBER = 5
BRANCH = dev-aisf_TDD
DEVELOPER_TEAM = ##TEAM_ID##
BUNDLE_IDENTIFIER = ru.artpancreas.$(DEVELOPMENT_TEAM).FreeAPS
APP_GROUP_ID = group.com.$(DEVELOPMENT_TEAM).loopkit.LoopGroup

#include? "ConfigOverride.xcconfig"
//#include? "../../ConfigOverride.xcconfig"
